* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
  }
  
  header {
    background-color: #4986b8;
    color: white;
    height: 40px;
    padding: 20px;
    width: 100%;
  }
  
  main {
    height: 100vh;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    gap: 10px;
  }
  
  main aside,
  main section {
    padding: 10px;
  }
  
  .left {
    background-color: moccasin;
  }
  
  section {
    background-color: aliceblue;
  }
  
  .right {
    background-color: mistyrose;
  }
  
  footer {
    position: static;
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
  }

  /* celulares */
@media screen and (min-device-width :0px) and (max-device-width : 801px) {

  header{
    display: flex;
    justify-content: center;
  }

  main{
    display: flex;
    /* flex-wrap: wrap; */
    height: 100%;
    flex-direction: column;
    padding: 0 2%;
  }

  footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 10px;
  }
  
}